.bg-img{
  height:90vh;
  margin: 0px;
}
.bg-img-small{

  width: 100vw;
  margin: 0px;
  padding: 0;

}
.container-body{
  //background-color: green;

}
.lower-img-container{

  height: 10vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.show-grid{
//  background-color: blue;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
.grid{
  //background-color: green;
padding: 0;
  margin: 0;

}
.logoimg{
  margin-top: 50px;
  max-height: 100px;
}

.text-column{


  margin: 0 auto;

  width: 80%;
  padding-left: 0;
  //background-color: red;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.main-title{
  //text-align: center;

}
.side-pannel{
  //background-image:url("../images/bgoverlay.png") ;
background-size: cover;
}

#emailbox{
  margin: 0 left;

}
